In [1]:
from pycaret.classification import *
import pandas as pd

In [2]:
from pycaret.datasets import get_data
data = get_data('dataset/total_0-5_children')

,Region,Province,age,sex,weight,height,stunted,wasted,bmi,bmi range,year,weight_status
0,Ilocos Region,Ilocos Sur,5.0,1,11.90,97.000000,moderately stunted,severely wasted,12.647465,underweight,2008,underweight
1,Ilocos Region,La Union,5.0,1,11.90,98.900002,moderately stunted,severely wasted,12.166183,underweight,2008,underweight
2,Ilocos Region,La Union,5.0,1,12.65,100.850000,normal,severely wasted,12.437661,underweight,2008,underweight
3,Ilocos Region,La Union,5.0,1,12.80,100.050000,normal,severely wasted,12.787210,underweight,2008,underweight
4,Ilocos Region,Pangasinan,5.0,1,13.00,100.950000,normal,severely wasted,12.756476,underweight,2008,underweight

In [3]:
df = pd.read_csv('dataset/total_0-5_children.csv')

In [4]:
stunting_model = load_model('models/stunting_model')
wasting_model = load_model('models/wasting_model')
weight_model = load_model('models/weight_status_model')

Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded

In [5]:
stunting_setup = setup(data = data,  
                       target = 'stunted',
                       ignore_features = ['Region','Province','wasted','bmi','bmi range','year','weight_status'],
#                        use_gpu=True,
#                        fix_imbalance=True
                       session_id=123,
                )

In [6]:
evaluate_model(stunting_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [7]:
df_wasting = df[df['wasted'].notna()]
df_wasting

,Region,Province,age,sex,weight,height,stunted,wasted,bmi,bmi range,year,weight_status
0,Ilocos Region,Ilocos Sur,5.0,1,11.900,97.000000,moderately stunted,severely wasted,12.647465,underweight,2008,underweight
1,Ilocos Region,La Union,5.0,1,11.900,98.900002,moderately stunted,severely wasted,12.166183,underweight,2008,underweight
2,Ilocos Region,La Union,5.0,1,12.650,100.850000,normal,severely wasted,12.437661,underweight,2008,underweight
3,Ilocos Region,La Union,5.0,1,12.800,100.050000,normal,severely wasted,12.787210,underweight,2008,underweight
4,Ilocos Region,Pangasinan,5.0,1,13.000,100.950000,normal,severely wasted,12.756476,underweight,2008,underweight
...,...,...,...,...,...,...,...,...,...,...,...,...
114808,Zamboanga Peninsula,Zamboanga del Sur,0.0,1,6.825,65.300003,normal,moderately wasted,16.005758,underweight,2015,obese
114809,Zamboanga Peninsula,Zamboanga del Sur,0.0,0,6.075,62.650002,normal,moderately wasted,15.477617,underweight,2015,obese
114810,Zamboanga Peninsula,Zamboanga Sibugay,0.0,0,5.025,55.549999,normal,moderately wasted,16.284257,underweight,2015,obese
114811,Bicol Region,Sorsogon,0.0,0,3.730,51.150000,normal,moderately wasted,14.256652,underweight,2018,normal
114812,National Capital Region,East NCR,0.0,1,3.650,53.250000,normal,moderately wasted,12.872226,underweight,2018,normal

In [8]:
wasting_setup = setup(data = df_wasting,  
                      target = 'wasted',
                      ignore_features = ['Region','Province','stunted','bmi','bmi range','year','weight_status'],
#                       use_gpu=True,
#                       fix_imbalance=True
                      session_id=123,
                )

In [9]:
evaluate_model(wasting_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [10]:
weight_setup = setup(data = data,  
                     target = 'weight_status',
                     ignore_features = ['Region','Province','stunted','bmi','bmi range','year','wasted'],
#                      use_gpu=True,
#                      fix_imbalance=True
                     session_id=123,
                )

In [11]:
evaluate_model(weight_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…